body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.d-flex {
  display: flex;
  justify-content: space-between;


}
ul{
  list-style: none;

}
.card ul {
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}
.hPadding {
  padding: 0 .3rem;
  width: 100%;
  align-items: center;

}

.cartShop {
  height: 30px;
  width: 30px;


}
.shopingList{
  flex-direction: column;
}
.shopingList li{
  
  border: 2px solid black;
  padding: .5em .7em;
  align-items: center;
}
.shopingList li.ul-header{
  
  background-color: rgb(26, 24, 35);
  color: rgb(225, 231, 235);
}
.shopingList li div,.shopingList li button{
  width: 20%;
  align-items: center;
  justify-content: center;

}
.shopingList li button{
border: none;
background-color: rgb(167, 118, 118,0);
/* opacity: 0; */
}
.imgItemShop{
  height: 40px;
  width: 40px;
}
.shopingList h3{
  width: 20%;
  text-align: center;
}
.shopingList li h3.spaceBetChar{
  letter-spacing: 3px;
  word-spacing: 19px;
  width: 80%;
}
.shopingList li.emptyBasket{
  border: none;
  height:200px ;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
background-color: rgb(167, 118, 118,0);


}
.listItem {
  flex-direction: column;
  border: 2px solid black;
  padding-bottom: 2px;
  width: 300px;
  height: 350px;
  align-items: start;

}

.header {
  background-color: rgb(242, 248, 246);
  padding: .5em 1em;
  align-items: center;
  cursor: default;
}

.logo {
  height: 70px;
  width: 70px;
}

.card {
  margin: 20px 0;
}

.header-nav {
  font-weight: bold;


}

a {
  text-decoration: none;
  color: black;
}

.cartList {
  width: 20px;
  height: 20px;
}

.header-nav li {
  /* border: 2px solid  black ; */
  padding: .7em .5em;

}

.header-nav li:hover {
  border-bottom: 2px solid black;
  transition: .1s ease;
  cursor: pointer;

}